* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F6F5F3;
}

:root {
    --red: #AA0211;
    --white: #FFFFFF;
    --black: #001819;
    --turquoise: #3D8589;
    --green: #025359;
}

/* HEADER */

header {
    background-image: url(/resources/header-bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    max-height: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

nav {
    display: flex;
    margin-left: 20rem;
    justify-content: center;
    height: 11vh;
}

.nav-headings-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex: 8;
}

.nav-heading {
    color: var(--white);
    font-size: 2rem;
    font-family: 'Merriweather', serif;
    /* margin: 50px; */
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    letter-spacing: 0.1rem;
    font-weight: 700;
}

.icons-container {
    margin-left: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 1;
    margin-right: 1rem;
}

.icon {
    width: 3.5rem;
    margin: 0.7rem;
}

.logo-heading-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 30vh;
    align-items: center;
}

.leaf-image {
    width: 5.5rem;
}

.header-headning {
    color: var(--white);
    font-family: 'Merriweather', serif;
    font-size: 3.2rem;
    letter-spacing: 0.1rem;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    
}

.header-subheadning {
    color: var(--black);
    font-family: 'Roboto', serif;
    font-size: 2rem;
    margin-left: 25rem;
    font-weight: 400;
}

.button-container {
    display: flex;
    justify-content: space-between;
}

.header-person {
    width: 31rem;
}

.btn-header-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 30%;
}

@media all and (max-width:1120px)  {
    nav {
        margin-left: 12rem;
        height: 10vh;
    }

    .header-headning {
        font-size: 2rem;
    }
    
    .header-subheadning {
        font-size: 1.5rem;
        margin-left: 25rem;
    }
    header {
        height: 85vh;
    }

    .button-container {
        width: 80%;
    }
    
    .header-person {
        width: 20rem;
        height: 100%;
    } 

    .btn-header-container {
        display: flex;
        flex-direction: column;
        justify-content: space-around;

    }

    .icons-container {
        flex: 1;
        margin-right: 1rem;
    
    }

    .icon {
        width: 2.7rem;
        margin: 0.3rem;
    }

    .nav-headings-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 5;
    }
    

    .nav-heading {
        font-size: 1.3rem;
        margin: 2rem;
    }
}

@media all and (max-width: 750px)  {
    header {
        height: 83vh;
    }

    nav {
        margin-left: 12rem;
        height: 7vh;
    }


}

@media all and (max-width: 500px) {
    header {
        height: 83vh;
    }
    .header-person {

    } 

    .nav-heading {
        margin: 1.5rem;
    }

}
/* ARTICLE */

.container-vertical {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem;
}

.decor-img{
    width: 12rem;
}

.decor-img-bigger{
    width: 20rem;
}

.article-heading {
    font-family: 'Nunito';    
    font-weight: 700;
    font-size: 3rem;
    line-height: 6rem;
    color: var(--green);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
}

.article-subheading {
    font-family: 'Nunito';    
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 3rem;
    color: var(--red);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-align: center;
}

.article-subheading-comment {
    margin-left: 30rem;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 3.5rem;
    text-align: right;
    color: var(--red);
}

.container-horizontal {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 4rem;
    width: 90%;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 25vh;
}

.list-container  {
    margin: 0 4rem;
}

.list-container div {
    display: flex;
    align-items: center;
}

.list-item {
    font-family: 'Roboto';
    font-weight: 200;
    font-size: 1.3rem;
    line-height: 3.3rem; 
    color: var(--black);
}

.bullet {
    width: 2.3rem;
    margin-right: 1.5rem;
    vertical-align: middle; 
}

#EnglishOnYourTermsVideo {
    width: 45rem;
    margin-left: 4rem;

} 

@media all and (max-width: 1200px)  {
    .container-horizontal {
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .list-container  {
        margin: 0 6rem;
    }

    .article-heading {
        font-size: 2rem;
        line-height: 5rem;
    }

    .article-subheading {
        font-size: 1.7rem;
        line-height: 2.5rem;
    }
    
    .article-subheading-comment {
        margin-left: 3.5rem;
        width: 500px;
        font-size: 1.2rem;
        line-height: 1.8rem;
    }
    

    #EnglishOnYourTermsVideo {
        width: 40rem;
        margin-top: 2rem;
        margin-left: 0; 
    } 

    .list-item {
        font-size: 1.1rem;
        line-height: 2rem; 
        width: 80%;
    }
}

@media all and (max-width: 800px)  {
    #EnglishOnYourTermsVideo {
        width: 80%;
    } 
    .list-item {
        line-height: 2rem; 
        width: 100%;
    }
}

@media all and (max-width: 600px) {
    .list-item {
        /* font-size: 1.1rem; */
        line-height: 2rem; 
    }
    #EnglishOnYourTermsVideo {
        /* width: 25rem; */
    } 
}
/* REVIEWS */
.section-heading {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 2rem;
    line-height: 4rem;
    color: var(--red);
    margin-bottom: 3rem;
}


.reviews-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

.phone-container {
    display: flex;
    align-items: center;
}

.liane {
    width: 12rem;
}

.btn-arrow {
    cursor: pointer;
    width: 3rem;
    margin: 10px;
}

.btn-arrow:hover  {
    opacity: 0.4;
    transition:  0.4s ease;
}

.slider-container {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    margin-top: 4rem; 
}


.slider-full-mobile {
    position: relative;
    /* margin: 50px auto; */
    /* padding-bottom: 50px; */
}


.slider-full-mobile:before {
    content: "";
    width: 270px;
    background-image: url(reviews/black-phone.png); 
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    right: 0;
    top: 0px;
    height: 570px; 
    z-index: 2;
    margin: auto;
}
.slider-full-mobile .slider-slide {
    height: 100%;
    object-fit: cover; 
}

.mySlides1, .mySlides2 {
    display: none;
}

.slider-full-mobile .slider-slide img{
    width: 270px;
    height: 485px;
    border-radius: 40px;
}


.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    margin-top: 7rem; 
}

.active, .dot:hover {
    background-color: #717171;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .1} 
    to {opacity: 1}
} 

@media all and (max-width: 1120px)  {
    .slider-container {
        margin-top: 2rem; 
    }
    .reviews-container {
        height: 60vh;
        width: 80%; 
    }

    .btn-arrow {
        width: 3rem;
        margin: 0;
    }
    .liane {
        width: 5rem;
        
    }

}

@media all and (max-width: 700px) {
    .reviews-container {
        height: 40vh;
    }
    .slider-full-mobile:before {
        width: 220px;
        height: 520px; 
    }
    
    
    .slider-full-mobile .slider-slide img{
        width: 220px;
        height: 435px;
    }
    .dot {
        margin-top: 3rem; 
    }
}

.prices-bg {
    background-image: url(resources/prices-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 30rem;
    height: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bullet-tick {
    width: 1.3rem;
    margin-right: 1rem;
    vertical-align: middle; 
}

.price-item { 
    font-family: 'Roboto';
    font-weight: 200;
    font-size: 1.3em;
    line-height: 2rem; 
    text-align: left;
    color: var(--black);
}

.price-item-details {
    font-family: 'Roboto';
    font-weight: 100;
    font-size: 1rem;
    line-height: 1.4rem; 
    text-align: right;
    color: var(--black);
}

.line-through {
    text-decoration: line-through;
}

.price-p {
    font-weight: 800;
    font-size: 1.3em;
    line-height: 3rem; 
    text-align: right;
    margin-left: 5rem;
    color: var(--red);
}

/* submit button */


.submit-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 7rem;
    }

.submit {
    min-width: 300px;
    min-height: 60px;
    font-family: 'Merriweather', serif;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: 700;
    color: var(--black);
    background: var(--turquoise);
    background: linear-gradient(90deg, rgba(129,230,217,1) 0%, rgba(79,209,197,1) 100%);
    border: none;
    border-radius: 1000px;
    box-shadow: 12px 12px 24px rgba(79,209,197,.64);
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 10px;
}

.submit:before {
    content: '';
    border-radius: 1000px;
    min-width: calc(300px + 12px);
    min-height: calc(60px + 12px);
    border: 6px solid rgba(0, 255, 204, 0.316);
    box-shadow: 0 0 60px rgba(0,255,203,.64);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s ease-in-out 0s;
}

.submit:hover, .submit:focus {
    color: #313133;
    transform: translateY(-6px);
}

.submit:hover::before, button:focus::before {
    opacity: 1;
}

.submit::after {
    content: '';
    width: 30px; height: 30px;
    border-radius: 100%;
    border: 6px solid #00FFCB;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring 1.5s infinite;
    z-index: 3;
}

.submit:hover::after, .submit:focus::after {
    animation: none;
    display: none;
}


@keyframes ring {
    0% {
    width: 30px;
    height: 30px;
    opacity: 1;
    }
    100% {
    width: 300px;
    height: 300px;
    opacity: 0;
    }
}

.para {
    font-weight: 400;
    font-size: 1.4em;
    line-height: 2.8rem; 
    text-align: center;
    margin-left: 5rem;
    width: 30rem;
    color: var(--black);
}

.highligted {
    font-weight: bolder;
    color: var(--red);
}

.section-subheading {
    font-family: 'Nunito';
    font-weight: 800;
    font-size: 1.8rem;
    line-height: 3rem;
    color: var(--red);
    width: 35rem;
    text-align: center;
}

/* INFOGRAPHICS */
.infographic-containter {
    display: flex;
    height:20rem;
    flex-wrap: wrap;
    margin-bottom: 7rem;
}

.infographic-picture {
    width: 10rem;
}

.infographic-text {
    font-family: 'Roboto';
    font-weight: 200;
    font-size: 0.9rem;
    line-height: 1.5rem; 
    color: var(--black);
    width: 9rem;
    text-align: center;
}

.line {
    height:10rem;
    align-self: center;
}


@media all and (max-width: 1120px)  {
    .infographic-containter {
        height: 50vh;
        width: 90%;

    }
    
    .infographic-picture {
        width: 7rem;
    }
    
    .infographic-text {
        font-size: 0.9rem;
        line-height: 1.5rem; 
        width: 5rem;
    }
    
}

@media all and (max-width: 740px) {
    .infographic-containter {
        height: 60vh;
    }
}

@media all and (max-width: 500px)  {
    .infographic-containter {
        height: 90vh;
    }
}

.carousel {
    padding: .3em .3em 0;
    width: 50%;
    background: rgb(240,240,240);
    text-align: center;
}

iframe  {
    position: absolute;
    top: 0;
    left: 0;
    right: 0; 
    height: 100%;
    width: 100%; 
} 

.iframe-container {
    cursor: pointer;
    position: relative;
    margin-bottom: .3em;
    padding-top: 56.25%; 
    width: 100%; 
}

.iframe-container:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: url(videos/witch.JPG);
    background-size: cover;
    transition: 1s ease;
    opacity: 0.9;
    cursor: pointer;
}

.iframe-container-active:after {
    opacity: 0;
    pointer-events: none;
}

.carousel span {
    display: inline-block;
    word-spacing: 1em;  
    overflow: auto;
    white-space: nowrap;
    word-wrap: normal;
}

.carousel a {
    position: relative;
    display: inline-block;
    max-width: 200px;  /* максимальная ширина миниатюр */
    width: 50%;  /* ширина миниатюр */
    border: 1px solid blue;  /* рамка вокруг миниатюр */
    opacity: .7;  
    text-decoration: none;
}

.carousel a:visited,
.carousel a:nth-of-type(1) {
    border-color: #555;  /* рамка вокруг миниатюр просмотренных видео */
}

.carousel a:hover { 
    opacity: 1;
}

.carousel a:not(:active):focus {
    pointer-events: none;
}

.carousel a::before {
    content: "";
    position: absolute;
    top: 0em;
    right: 0em;
    bottom: 0em;
    left: 0em;
    background: rgba(0,0,1,.1);
    transition: background 0s 9999999s;
}

.carousel a:nth-of-type(1)::before {
    background: rgba(255,255,254,.7);
}

.carousel span:active a::before {
    background: rgba(0,0,0,0);
    transition: background 0s;
}

.carousel span:active a:active::before {
    background: rgba(255,255,255,.7);
    transition: background 0s;
}

.carousel img {
    max-width: 100%;
    vertical-align: middle;  /* убрать нижний отступ до рамки под картинкой */
}

@media all and (max-width: 900px) {
    .dotted-line {
        transform: rotate(270deg);
        width: 15rem;
    }

    .carousel {
        width: 90%;
    }
    
}