*,
*:before,
*:after {
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.btn {
  margin: 0.4rem 0rem;
  display: inline-block;
  color: #ffffff;
  padding: 32px;
  position: relative;
  letter-spacing: 1px;
  font-family: 'Merriweather', serif;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 22px;
  line-height: 1.5;
}

.btn__circle, .btn__text, .btn__white-circle {
  position: absolute;
}

.btn__circle {
  top: 0;
  left: 0;
  height: 100%;
  border-radius: 100%;
  width: 100%;
  box-shadow: 0 0 1px 1px #fff;
  transition: 0.3s linear;
}

.btn__white-circle {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  width: 56px;
  height: 56px;
  border-radius: 100%;
  background: #ffffff;
  display: flex;
  transition: 0.3s ease-in-out;
}

.btn__white-circle svg {
  width: 24px;
  height: 24px;
  margin: auto;
}

.btn__text {
  top: 50%;
  transform: translateY(-50%);
  white-space: nowrap;
  z-index: 2;
  padding: 24px 8px;
  transition: 0.3s linear;
}

.btn:hover .btn__circle {
  transform: scale(0);
}

.btn:hover .btn__white-circle {
  transform: translate(-50%, -50%) scale(1);
}

.btn:hover .btn__text {
  transform: translate(40px, -50%);
}

.content {
  background: transparent;
  height: 30vh;
  width: 5vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

@media all and (max-width: 900px) {
  .btn__text {
    font-size: 1.2rem;
  }
}

@media all and (max-width: 750px) {
  .btn__text {
    font-size: 1rem;
  }
  .content {
    width: 2.5vw;
  }
}

@media all and (max-width: 650px) {
  .btn__text {
    font-size: 1rem;
  }
  .btn {
    margin: 0rem;
  }
  .btn__circle {
    height: 80%;
    width: 80%;
    top: 5px;
    left: 10px;
  }
  .btn__white-circle {
    width: 52px;
    height: 52px;
  }
  .btn__white-circle svg {
    width: 24px;
    height: 24px;
  }
  .btn:hover .btn__text {
    transform: translate(20px, -50%);
  }
}

@media all and (max-width: 360px) {
  .btn__text {
    font-size: 0.9rem;
  }
}
