:root {
    --red: #AA0211;
    --white: #FFFFFF;
    --black: #001819;
    --turquoise: #3D8589;
    --green: #025359;
}

#start-message {
    font-size: 1.3rem;
    color: var(--black);
    font-family: 'Merriweather', serif;
    text-shadow: 0px 2px 42px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-weight: 500;
    margin-bottom: 20px;
    text-align: center;
    padding: 20px;
}

#start-image-container {
    background-image: url('/resources/phrasal.png'); 
    background-size: cover; 
    background-position: top;
    height: 230px; 
    border-radius: 8px; 
    margin: 20px auto;
}

@media (max-width: 650px) {
    #start-image-container {
        height: 200px; 
    }
}

#start-button {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    background-color: var(--turquoise);
    color: var(--white);
    border: none;
    border-radius: 20px;
    padding: 10px 15px;
    cursor: pointer;
    display: block;
    width: 100%;
    margin: 0 auto 20px auto; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
}

#start-button:hover {
    background-color: var(--green);
}

#quiz-container {
    margin: 2rem auto;
    padding: 20px;
    background-color: var(--white);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 600px; 
    border-radius: 8px;
    font-family: 'Roboto', sans-serif;
}
@media (max-width: 650px) {
    #quiz-container {
        width: 90%; 
        padding: 10px;
    }
}

#question {
    margin-bottom: 20px;
    font-size: 1.4rem;
    color: var(--black);
    font-size: 1.3rem;
    font-family: 'Roboto';
    font-weight: 400;
    line-height: 2rem; 
    text-align: center;
}

#answers button {
    background-color: var(--turquoise);
    color: var(--white);
    display: block;
    font-size: 1rem;
    font-family: 'Roboto';
    font-weight: 200;
    border: none;
    border-radius: 20px;
    padding: 10px 15px;
    cursor: pointer;
    display: block;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin: 10px 0;
    transition: background-color 0.3s ease;
}

#answers button:hover {
    background-color: var(--green);
}

#next-question {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;    
    font-size: 1.2rem;
    background-color: var(--turquoise);
    color: var(--white);
    border: none;
    border-radius: 20px;
    padding: 10px 15px;
    cursor: pointer;
    display: block;
    width: 100%;
    margin-top: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
}

#next-question:hover {
    background-color: var(--green);
}

#answers .correct-answer {
    background-color: var(--green);
    color: var(--white) 
}

#answers .incorrect-answer {
    background-color: var(--red) !important;
    color: var(--white) !important;
}

#answers button:disabled {
    cursor: not-allowed;
}

.completion-message {
    font-family: 'Merriweather', serif;
    color: var(--black);
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 20px;
}

.course-invitation {
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    color: var(--green);
    font-size: 1rem;
    text-align: center;
    margin-top: 10px;
}
